.CoinFlip {
  background-color: #fff866;
  color: #d64045;
  padding: 25px;
  margin: 0px 5px 0px 5px;
}
.button {
  font-family: monospace;
  /* font-family: arial; */
  background-color: #0c6291;
  /* background-color: $yellow; */
  color: #dcd6f7;
  /* color: $brown; */
  font-size: 20px;
  top: 0;
  left: 0;
  transition: all 0.15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 6px 10px;
  letter-spacing: 1px;
  box-shadow: -3px 3px 0 #dcd6f7;
  text-decoration: none;
}
.coinFlipResult {
  font-size: 100px;
  background-color: #0c6291;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  color: #dcd6f7;
}
/*
English Vermilion Red - D64045

Icterine Yellow - FFF866

Xiketic Black - 14080E

Sapphire Blue - 0C6291

Spanish Green - 018E42

Bistre Brown - 391A00

Lavender Web - DCD6F7

Sandy Brown Light Orange - FC9E4F
*/
