.Footer {
  background-color: #018e42;
  color: #14080e;
  padding: 5px;
  margin: 0px 5px 5px 5px;
}

.hyperlink {
  color: #14080e;
}
.hyperlink:hover {
  color: #d64045;
}
/*
English Vermilion Red - D64045

Icterine Yellow - FFF866

Xiketic Black - 14080E

Sapphire Blue - 0C6291

Spanish Green - 018E42

Bistre Brown - 391A00

Lavender Web - DCD6F7

Sandy Brown Light Orange - FC9E4F
*/
