body {
  background-color: #dcd6f7;
}
.App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #018e42; */
  background: linear-gradient(35deg, #018e42, #01c85d);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #14080e;
  padding: 5px;
  margin: 5px 5px 0px 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
English Vermilion Red - D64045

Icterine Yellow - FFF866

Xiketic Black - 14080E

Sapphire Blue - 0C6291

Spanish Green - 018E42

Bistre Brown - 391A00

Lavender Web - DCD6F7

Sandy Brown Light Orange - FC9E4F
*/
